a {
  text-decoration: none !important;
  color: inherit !important;
}

.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart {
  display: flex;
}

.productContainer,
.cartContain {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartContain {
  width: 100% !important;
}

.products {
  width: 30%;
  margin: 10px;
}

.productImg {
  height: 350px;
  object-fit: contain;
}

.summary {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;

  flex-direction: column;
  width: 30%;
  margin: 10px;
  height: 86vh;
  margin-left: auto;
}
.cartContainer {
  display: flex;
  flex-direction: column;

  padding: 20px;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .products {
    width: 100%;
  }
}
